* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
.main-container {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right, #16222af5, #3a6073fb);
}

.glassy {
	display: flex;
	width: 96vw;
	height: 92vh;
	background: #000;
	border-radius: 20px;
	background: rgba(27, 50, 56, 0.226);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.349);
	backdrop-filter: blur(4px) !important;
	-webkit-backdrop-filter: blur(5px);
	/* border: 2px solid rgba(21, 67, 78, 0.76); */
	overflow: hidden;
	z-index: 555;
}
.glassy::-webkit-scrollbar {
	display: none;
}
ul {
	margin: 0 !important;
}
/*-------------------------------------
    SideBar Styles
---------------------------------------*/
.sidebar {
	background: rgba(6, 34, 41, 0.493);
	border-right: 2px solid rgba(21, 67, 78, 0.966);
	text-align: center;
	padding: 10px 0;
	display: flex;
	overflow: scroll;
	scrollbar-width: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30%;
	height: 100%;
}
.sidebar::-webkit-scrollbar {
	display: none;
}
.sidebar * {
	color: #ffffff;
}
.name,
.designation {
	color: #fafafa;
	text-shadow: 0 0 10px #642e27e8;
}

.social ul {
	list-style: none;
	margin: 20px auto;
	padding: 0;
	display: flex;
	justify-content: center;
}

.social ul li a {
	display: inline-block;
	margin: 10px;
	padding: 10px;
	font-size: 2em;
	text-decoration: none;
}

/*-------------------------------------
    SideBar Styles End
---------------------------------------*/

/*-------------------------------------
    Main Section Styles
---------------------------------------*/
.main-content {
	width: 70%;
	padding: 30px 0;
	color: #fafafaec;
}

.navbar {
	display: flex;
	width: 100%;
	background: rgba(0, 0, 0, 0.267);
	justify-content: right !important;
}

.navbar ul {
	display: flex;
	list-style: none;
	height: 100%;
	padding: 15px;
	margin: 0;
}
.navbar ul li a {
	color: rgba(255, 255, 255, 0.541);
	font-size: 1.3rem;
	padding-right: 15px;
	text-decoration: none;
	font-weight: bold;
}
.navbar ul li:hover a {
	color: #fafafa;
}
.active {
	color: #fafafa !important;
}
.active::before {
	content: '< ';
	color: #ff6600;
}
.active::after {
	content: ' />';
	color: #ff6600;
}

.content {
	overflow: scroll;
	height: 75vh;
	scrollbar-width: none;
	padding: 0 40px 40px 40px;
	margin: 20px 0 0 0;
}

.content::-webkit-scrollbar {
	display: none;
}

.resume_btn {
	display: inline-block;
	margin: 0 40px;
	color: rgba(255, 254, 254, 0.856);
	text-decoration: none;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 20px;
	background: #d35400;
}
.resume_btn:hover {
	color: #fff;
}
.introduce {
	width: 60%;
	font-size: 1.3rem;
	text-align: justify;
	border-left: 3px solid #d35400ab;
	padding: 20px;
	border-radius: 5px;
}
.skills-container {
	margin-top: 40px;
}
.skills {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	width: 80%;
}
.skills li {
	padding: 10px 25px;
	background: rgba(0, 0, 0, 0.233);
	margin: 5px;
	border-radius: 20px;
}

/* Contact Form */
.contact {
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* .contact h1 {
	color: #333;
} */
form {
	position: relative;
	width: 80%;
	border-radius: 30px;
	background: rgba(24, 37, 48, 0.473);
}
.form-left-decoration,
.form-right-decoration {
	content: '';
	position: absolute;
	width: 50px;
	height: 20px;
	border-radius: 20px;
	background: #d35400;
}
.form-left-decoration {
	bottom: 60px;
	left: -30px;
}
.form-right-decoration {
	top: 60px;
	right: -30px;
}
.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
	content: '';
	position: absolute;
	width: 50px;
	height: 20px;
	border-radius: 30px;
	background: rgba(255, 255, 255, 0.61);
}
.form-left-decoration:before {
	top: -20px;
}
.form-left-decoration:after {
	top: 20px;
	left: 10px;
}
.form-right-decoration:before {
	top: -20px;
	right: 0;
}
.form-right-decoration:after {
	top: 20px;
	right: 10px;
}
.circle {
	position: absolute;
	bottom: 80px;
	left: -55px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.993);
}
.form-inner {
	padding: 40px;
}
.form-inner input,
.form-inner textarea {
	display: block;
	width: 100%;
	padding: 15px;
	margin-bottom: 10px;
	border: none;
	border-radius: 20px;
	background: #72717186;
	color: #fff;
	font-size: 1.2rem;
}
.form-inner textarea {
	resize: none;
}
.btn-warning {
	padding: 10px 40px !important;
	margin-top: 20px;
	border: none !important;
	background: #d35400 !important;
	font-size: 16px;
	cursor: pointer;
	color: #fff !important;
}
.btn-warning:hover {
	background: #e96207;
}
@media (min-width: 568px) {
	form {
		width: 60%;
	}
}

/* Projects Page */
.projects-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}
.project {
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	overflow: hidden;
	cursor: pointer;
	box-sizing: border-box;
}
.project .image {
	height: 250px;
	width: 100%;
	background: #000;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.project .info {
	padding: 10px;
}
.project .info p {
	margin: 0;
}
.modal-content {
	background-color: #1c384380 !important;
	color: #fff;
	box-shadow: 0 0 10px #1c3843;
	border: none !important;
	backdrop-filter: blur(15px) !important;
	-webkit-backdrop-filter: blur(15px);
}
@-moz-document url-prefix() {
	.container {
		background: linear-gradient(to right, #16222af5, #3a6073fb);
		border: 0px solid;
	}
	.glassy {
		background: rgba(15, 59, 70, 0.725);
	}
	.modal-content {
		background-color: #1c3843ea !important;
	}
}
.btn-close {
	background: transparent url('https://monnampo.sirv.com/Images/close.svg')
		center/1em auto no-repeat !important;
}
